# <center> Ensemble Learning - Bagging

### Importing Libraries

In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

### Importing Dataset

In [3]:
data = pd.read_csv('data/data_cleaned.csv')

#printing the first few rows
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
#size of the data
data.shape

(891, 25)

In [5]:
#checking missing values
data.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

### Separating Dependent and Independent Variables

In [6]:
#independent variables
x = data.drop(["Survived"], axis = 1)

#dependent variables
y = data['Survived']

x.shape, y.shape

((891, 24), (891,))

### Making Train and Test  Set

In [7]:
from sklearn.model_selection import train_test_split as tts

train_x, test_x, train_y, test_y = tts (x, y, random_state = 9 , stratify = y,test_size=.25)
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((668, 24), (223, 24), (668,), (223,))

## Base models

In [8]:
#importing predictive models
from sklearn.ensemble import BaggingClassifier
from sklearn import tree

### Model Training and Predictions

In [14]:
#Model - Decision Tree

model=BaggingClassifier(tree.DecisionTreeClassifier(random_state=1, max_depth=4))
#DT = DecisionTreeClassifier(random_state= 101)
model.fit(train_x,train_y)

BaggingClassifier(base_estimator=DecisionTreeClassifier(max_depth=4,
                                                        random_state=1))

In [18]:
?BaggingClassifier

In [15]:
pred_train = model.predict(train_x)
pred_test  = model.predict(test_x)

In [11]:
train_y

10     1
635    1
241    1
501    0
687    0
      ..
323    1
407    1
319    1
777    1
875    1
Name: Survived, Length: 668, dtype: int64

In [16]:
model.score(train_x,train_y)

0.8368263473053892

In [17]:
model.score(test_x,test_y)

0.820627802690583