# Random Forest

* **Documentation -** https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

### Importing Libraries

In [1]:
#Importing required libraries
import pandas as pd 
import numpy as np

### Loading the dataset

In [2]:
#reading the data
data=pd.read_csv('data/data_cleaned.csv')

In [3]:
data.shape

(891, 25)

In [4]:
#first five rows of the data
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

### Separating independent and dependent variables.

In [5]:
#independent variables
x = data.drop(['Survived'], axis=1)

#dependent variable
y = data['Survived']

### Creating the train and test dataset

In [6]:
#import the train-test split
from sklearn.model_selection import train_test_split

In [7]:
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y, test_size=0.2)

## Building a Decision Tree Model

In [ ]:
#Importing Decision Tree Classifier 
from sklearn.tree import DecisionTreeClassifier

In [ ]:
#creating a decision tree instance
clf = DecisionTreeClassifier(random_state=96)

In [ ]:
#training the model
clf.fit(train_x,train_y)

In [ ]:
#calculating score on training data
clf.score(train_x, train_y)

In [ ]:
#calculating score on test data
clf.score(test_x, test_y)

## Building a Random Forest Model

In [8]:
#Importing random forest classifier 
from sklearn.ensemble import RandomForestClassifier

In [9]:
#creating a random forest instance
clf = RandomForestClassifier(random_state=96)

In [15]:
?RandomForestClassifier

In [10]:
#train the model
clf.fit(train_x,train_y)

RandomForestClassifier(random_state=96)

In [11]:
#score on training data
clf.score(train_x, train_y)

0.9859550561797753

In [12]:
#score on test data
clf.score(test_x, test_y)

0.7486033519553073

In [13]:
#looking at the feature importance
clf.feature_importances_

array([0.23135115, 0.23580813, 0.03203368, 0.01680152, 0.05068514,
       0.13609928, 0.16066618, 0.01441079, 0.01527798, 0.0051255 ,
       0.00513716, 0.00597729, 0.00112619, 0.00297289, 0.01626697,
       0.01433269, 0.012127  , 0.00121008, 0.00223676, 0.00260511,
       0.00044512, 0.01183396, 0.00980372, 0.01566569])

In [14]:
#feature importance against each variable
pd.Series(clf.feature_importances_, index=train_x.columns)

Age           0.231351
Fare          0.235808
Pclass_1      0.032034
Pclass_2      0.016802
Pclass_3      0.050685
Sex_female    0.136099
Sex_male      0.160666
SibSp_0       0.014411
SibSp_1       0.015278
SibSp_2       0.005126
SibSp_3       0.005137
SibSp_4       0.005977
SibSp_5       0.001126
SibSp_8       0.002973
Parch_0       0.016267
Parch_1       0.014333
Parch_2       0.012127
Parch_3       0.001210
Parch_4       0.002237
Parch_5       0.002605
Parch_6       0.000445
Embarked_C    0.011834
Embarked_Q    0.009804
Embarked_S    0.015666
dtype: float64