In [48]:
import pandas as pd
import numpy as np

In [49]:
location = r"data\auto-specs.csv"

In [50]:
# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

In [51]:
# load the training data 
df_auto = pd.read_csv(location, header=None, names=headers, na_values="?" )
df_auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [55]:
df_auto.shape

(205, 26)

In [52]:
# only focus on encoding the categorical variables, 
# we are going to include only the object columns in our dataframe. 
# Pandas has a helpful select_dtypes function which we can use to build a 
# new dataframe containing only the object columns.
df_auto.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

Pandas has a helpful __select_dtypes__ function which we can use to build a new dataframe containing only the object columns.

To select all numeric types, use __np.number or 'number' __

To select strings you must use the __object__ dtype, but note that this will return all object dtype columns

See the numpy dtype hierarchy
To select datetimes, use np.datetime64, 'datetime' or 'datetime64'
To select timedeltas, use np.timedelta64, 'timedelta' or 'timedelta64'
To select Pandas categorical dtypes, use 'category'
To select Pandas datetimetz dtypes, use 'datetimetz' (new in 0.20.0) or 'datetime64[ns, tz]'

In [53]:
obj_df = df_auto.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [54]:
obj_df.isnull().sum()

make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

In [56]:
# there are a couple of null values in the data that we need to clean up.
obj_df[obj_df.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [ ]:
# just fill in the value with the number 4 
# (since that is the most common value)

In [ ]:
obj_df.describe(include='all')

In [57]:
obj_df["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [58]:
obj_df = obj_df.fillna({"num_doors": "four"})

In [59]:
obj_df.isnull().sum()

make               0
fuel_type          0
aspiration         0
num_doors          0
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

In [60]:
obj_df.num_cylinders.value_counts()

four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num_cylinders, dtype: int64

### Approach 1 - Find and Replace *******************************************

- encoding
     - num_doors
     - num_cylinders

In [ ]:
obj_df["num_cylinders"].value_counts()

- create a __mapping dictionary__ that contains each column to process as well as a dictionary of the values to translate.

In [61]:
cleanup_nums = {"num_doors":     {"four": 4, "two": 2},
                "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8, "two": 2, "twelve": 12, "three":3 }}

In [62]:
obj_df.replace(cleanup_nums, inplace=True)
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi

In [63]:
obj_df.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

### Approach 2 - Label Encoding *******************************************

In [64]:
obj_df["body_style"].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body_style, dtype: int64

In [ ]:
# body_style column contains 5 different values. 

# convertible -> 0
# hardtop -> 1
# hatchback -> 2
# sedan -> 3
# wagon -> 4

In [ ]:
#cleanup_nums = {"body_style":     {"sedan": 0, "hatchback": 2}}

In [ ]:
# check the data type for body_style (object)
obj_df.dtypes

- One trick you can use in pandas is to convert a column to a __category__, then use those category values for your label encoding:

In [65]:
obj_df["body_style"] = obj_df["body_style"].astype('category')
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_system          object
dtype: object

assign the encoded variable to a new column using the __cat.codes__ accessor

In [66]:
obj_df["body_style_cat"] = obj_df["body_style"].cat.codes
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi,2
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi,3
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi,3

In [67]:
obj_df['body_style_cat'].unique()

array([0, 2, 3, 4, 1], dtype=int8)

In [ ]:
obj_df.dtypes

color

    R 0
    Y 1
    A 2
    B 3

### Approach 3 - One Hot Encoding *******************************************

In [ ]:
# Label encoding has the advantage that it is straightforward but it has the disadvantage that 
# the numeric values can be “misinterpreted” by the algorithms. 

# Pandas supports this feature using get_dummies. 
# This function is named this way because it creates dummy/indicator variables (aka 1 or 0).

In [68]:
s = pd.Series(list('MFMFMFMFMFF'))
s

0     M
1     F
2     M
3     F
4     M
5     F
6     M
7     F
8     M
9     F
10    F
dtype: object

In [69]:
pd.get_dummies(s)

    F  M
0   0  1
1   1  0
2   0  1
3   1  0
4   0  1
5   1  0
6   0  1
7   1  0
8   0  1
9   1  0
10  1  0

In [70]:
pd.get_dummies(pd.Series(list('abcde')))

   a  b  c  d  e
0  1  0  0  0  0
1  0  1  0  0  0
2  0  0  1  0  0
3  0  0  0  1  0
4  0  0  0  0  1

In [71]:
pd.get_dummies(pd.Series(list('abcde')), drop_first=True)

   b  c  d  e
0  0  0  0  0
1  1  0  0  0
2  0  1  0  0
3  0  0  1  0
4  0  0  0  1

In [ ]:
# look at the column drive_wheels where we have values of 4wd , fwd or rwd . 
# By using get_dummies we can convert this to 3 columns with a 1 or 0 
# corresponding to the correct value

In [72]:
obj_df.drive_wheels.value_counts()

fwd    120
rwd     76
4wd      9
Name: drive_wheels, dtype: int64

In [ ]:
obj_df.head()

In [73]:
pd.get_dummies(obj_df, columns=["drive_wheels"], drop_first=True).head()

,make,fuel_type,aspiration,num_doors,body_style,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,drive_wheels_fwd,drive_wheels_rwd
0,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,1
1,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,1
2,alfa-romero,gas,std,2,hatchback,front,ohcv,6,mpfi,2,0,1
3,audi,gas,std,4,sedan,front,ohc,4,mpfi,3,1,0
4,audi,gas,std,4,sedan,front,ohc,5,mpfi,3,0,0

In [ ]:
?pd.get_dummies

In [ ]:
# The new data set contains 3 new columns:

# drive_wheels_4wd
# drive_wheels_rwd
# drive_wheels_fwd

In [ ]:
pd.get_dummies(obj_df, columns=["body_style", "drive_wheels"], prefix=["body", "drive"]).head()

In [ ]:
# column called engine_type that contains several different values:

obj_df["engine_type"].value_counts()

In [ ]:
# whether or not the engine is an Overhead Cam (OHC) or not. In other words, the various versions 
# of OHC are all the same for this analysis.

In [ ]:
obj_df["OHC_Code"] = np.where(obj_df["engine_type"].str.contains("ohc"), 1, 0)

In [ ]:
obj_df["OHC_Code"].unique()

In [ ]:
obj_df[["make", "engine_type", "OHC_Code"]].head()

#### OHE has some significant shortcomings:

- OHE representation produces very high dimensionality, this causes an increase in the model’s training and serving time and memory consumption.

- OHE can easily cause a model to overfit the data.

- OHE can’t handle categories that weren’t in the training data (like new URLs, new device types etc), this can be problematic in domains that change all the time.

## Using Scikit-Learn

#### LabelEncoder and OneHotEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()

In [ ]:
obj_df["make"].unique()

In [ ]:
obj_df["make_code"] = lb_make.fit_transform(obj_df["make"])
pd.unique(obj_df[["make", "make_code"]].values.ravel())

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe_make = OneHotEncoder()