# Machine Learning - 5 : KNN (Supervised Algorithm)

In [10]:
from math import*
 
def euclidean_distance(x,y):
 
    return sqrt(sum(pow(a-b,2) for a, b in zip(x, y)))
 
euclidean_distance([0,3,3,5],[7,6,5,1])

8.831760866327848

In [11]:
import numpy as np
from sklearn.impute import SimpleImputer as Imputer
from sklearn.model_selection import train_test_split
from sklearn import metrics, model_selection, preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [12]:
cancer_data = np.genfromtxt(
 fname ='/content/breast-cancer-wisconsin.data', delimiter= ',', dtype= float)

In [13]:
import pandas as pd
df=pd.DataFrame(cancer_data)
df

            0    1     2     3    4    5     6     7     8    9    10
0    1000025.0  5.0   1.0   1.0  1.0  2.0   1.0   3.0   1.0  1.0  2.0
1    1002945.0  5.0   4.0   4.0  5.0  7.0  10.0   3.0   2.0  1.0  2.0
2    1015425.0  3.0   1.0   1.0  1.0  2.0   2.0   3.0   1.0  1.0  2.0
3    1016277.0  6.0   8.0   8.0  1.0  3.0   4.0   3.0   7.0  1.0  2.0
4    1017023.0  4.0   1.0   1.0  3.0  2.0   1.0   3.0   1.0  1.0  2.0
..         ...  ...   ...   ...  ...  ...   ...   ...   ...  ...  ...
694   776715.0  3.0   1.0   1.0  1.0  3.0   2.0   1.0   1.0  1.0  2.0
695   841769.0  2.0   1.0   1.0  1.0  2.0   1.0   1.0   1.0  1.0  2.0
696   888820.0  5.0  10.0  10.0  3.0  7.0   3.0   8.0  10.0  2.0  4.0
697   897471.0  4.0   8.0   6.0  4.0  3.0   4.0  10.0   6.0  1.0  4.0
698   897471.0  4.0   8.0   8.0  5.0  4.0   5.0  10.0   4.0  1.0  4.0

[699 rows x 11 columns]

In [14]:
print("Dataset Shape:: ", cancer_data.shape)

Dataset Shape::  (699, 11)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       699 non-null    float64
 1   1       699 non-null    float64
 2   2       699 non-null    float64
 3   3       699 non-null    float64
 4   4       699 non-null    float64
 5   5       699 non-null    float64
 6   6       683 non-null    float64
 7   7       699 non-null    float64
 8   8       699 non-null    float64
 9   9       699 non-null    float64
 10  10      699 non-null    float64
dtypes: float64(11)
memory usage: 60.2 KB

In [16]:
cancer_data = np.delete(arr = cancer_data, obj= 0, axis = 1)

In [17]:

X = cancer_data[:,range(0,9)]
Y = cancer_data[:,9]

In [18]:
?Imputer

In [19]:
imp = Imputer(missing_values=np.nan, strategy='median')
X = imp.fit_transform(X)

In [20]:
X_train, X_test, y_train, y_test =train_test_split(X, Y, test_size = 0.3, random_state = 100)
y_train = y_train.ravel()
y_test = y_test.ravel()

In [21]:
for K in range(25):
    K_value = K+1
    neigh = KNeighborsClassifier(n_neighbors = K_value, weights='uniform', algorithm='auto')
    neigh.fit(X_train, y_train) 
    y_pred = neigh.predict(X_test)
    print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"% for K-Value:",K_value)

Accuracy is  95.23809523809523 % for K-Value: 1
Accuracy is  93.33333333333333 % for K-Value: 2
Accuracy is  95.23809523809523 % for K-Value: 3
Accuracy is  95.23809523809523 % for K-Value: 4
Accuracy is  95.71428571428572 % for K-Value: 5
Accuracy is  94.76190476190476 % for K-Value: 6
Accuracy is  94.76190476190476 % for K-Value: 7
Accuracy is  94.28571428571428 % for K-Value: 8
Accuracy is  94.76190476190476 % for K-Value: 9
Accuracy is  94.28571428571428 % for K-Value: 10
Accuracy is  94.28571428571428 % for K-Value: 11
Accuracy is  94.76190476190476 % for K-Value: 12
Accuracy is  94.76190476190476 % for K-Value: 13
Accuracy is  93.80952380952381 % for K-Value: 14
Accuracy is  93.80952380952381 % for K-Value: 15
Accuracy is  93.80952380952381 % for K-Value: 16
Accuracy is  93.80952380952381 % for K-Value: 17
Accuracy is  93.80952380952381 % for K-Value: 18
Accuracy is  93.80952380952381 % for K-Value: 19
Accuracy is  93.80952380952381 % for K-Value: 20
Accuracy is  93.80952380952381 % for K-Value: 21
Accuracy is  93.80952380952381 % for K-Value: 22
Accuracy is  93.80952380952381 % for K-Value: 23
Accuracy is  93.80952380952381 % for K-Value: 24
Accuracy is  93.80952380952381 % for K-Value: 25